* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: rgb(14, 114, 42);
	position: relative;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headers {
	color: aliceblue;
	margin: 10px;
	padding: 20px;
}

#divHeader {
	background-color: rgb(14, 114, 42);
	position: fixed;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 999;
}

#divBody, #divTable, #divPortal, #divForm {
	position: relative;
	clear: both;
	top: 120px;
	max-width: 600px;
	margin: auto;
}

.divAbout {
	background-color: rgb(6, 6, 65);
	border-radius: 20px;
}

#paraLead {
	font-size: larger;
}

#divTable {
	background-color: rgb(14, 114, 42);
}

#divPortal {
	background-color: rgb(14, 114, 42);
}

#divForm {
	border-radius: 10px;
	width: fit-content;
	margin: auto;
}

th, td {
	border: solid;
	border-color: black;
}

td img, iframe {
	vertical-align: middle;
}

#divButton {
	border-radius: 0px;
	width: fit-content;
	margin: auto;
	background-color: aliceblue;
}

h2 {
	text-align: center;
	text-decoration: underline;
}

h3 {
	text-align: center;
	text-decoration: underline;
}

p {
	font-size: medium;
	text-align: center;
	color: aliceblue;
}

ul {
	font-style: italic;
	color: aliceblue;
	text-align: center;
	list-style-position: inside;
}

table {
	margin: auto;
	padding: 5px;
	border-color: black;
}

form {
	padding: 10px;
	border-radius: 10px;
	background-color: aliceblue;
	font-style: italic;
	width: fit-content;
	margin: auto;
}

nav a {
	width: 10px;
	border: rgb(6, 60, 65);
	border-style: solid;
	margin: 5px;
	padding: 5px;
	border-radius: 20px;
	background-color: rgb(6, 6, 65);
	text-decoration: none;
	color: aliceblue;
}

nav {
	display: inline-block;
	width: 100%;
	padding: 5px;
}

input[type=text] {
	border: solid 1px black;
	background-color: white;
	border-radius: 20px;
	color: black;
  padding: 5px;
}
input[type=button] {
    border: rgb(6, 60, 65);
    border-style: solid;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(6, 6, 65);
    text-decoration: none;
    color: aliceblue;
}
input[type=text]:focus {
	background-color: black;
	color: aliceblue;
}

input[type=text]:hover {
	background-color: black;
	color: aliceblue;
	transition: 2s;
}

input[type=button]:active {
	background-color: rgb(14, 114, 42);
}

div {
	padding: 5px;
}